.menu-checkbox {
  opacity: 0;
  position: absolute;
  top: -1000px;
}


@media screen and (max-width: 780px) {

  .hotel-name {
    transform: translateX(-900px);
    overflow: hidden;
  }

  .menu-toggle {
    display: block;
    padding: .1em 0.1em;
  }

  .menu {
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out,
  }



  .menu-checkbox:focus + .menu-toggle {
    outline: white auto 2px;
  }
 
  
  .menu-checkbox:checked ~ .menu {
    margin: 1em 0;
    max-height: 1000px;
    opacity: 1;
  }
}

@media screen and (min-width: 781px) {

  .menu-toggle {
      display: none;
  }

  label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
}


