





@media screen and (max-width: 480px) {

  .nav {
    transform: translateY(70px);
    ul li ul {
      transform: translateX(130%);
      font-size: 12px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    font-size: 12px;
    margin-top: 20px;

    
    transition: transform 0.5s;

   
    &__trigger {
      display: none;
      &:checked {
        & + label > .menu__button-open {
          display: none;
        }
        
      }
      &:not(:checked) {
        & + label > .menu__button-close {
          display: none;
        }
        
  
        & ~ .menu {
          transform: translateY(-300%);
        }
      }
    }
    
    &__button {
      width: 200px;
      border: 1px solid #ddf;
      padding: 1rem;
      border-radius: 0.25rem;
    }
  }
  

  .hotel-name {
    transform: translateX(-900px);
    overflow: hidden;
  }

  // nav {
   

  //   ul {
  //     flex-direction: column;
  //     font-size: 12px;
  //     margin: 0;
  //     transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out;
  //     li ul {
  //       display: none;
  //     }
  //   }
  // }
  // .menu-burger {  
  //   display: block;
  //   padding: 10px;
  // }


  // .menu-checkbox:focus + .menu {
  //   outline: white auto 2px;
  // }
 
  
  // .menu-checkbox:checked + .menu {
  //   //margin: 1em 0;
  //   max-height: 1000px;
  //   opacity: 1;
  //   // display: flex;
  //   // transform: translateY(100px);
  // }
}

@media screen and (min-width: 480px) {

  .menu {
   

    &__trigger {
      display: none;
      & + label > .menu__button-open {
        display: none;
      }
      & + label > .menu__button-close {
        display: none;
      }
    }
  }

  label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    cursor: pointer;
  }
}


