@media screen and (max-width: 580px) {

  nav .menu {
    display: none;
    flex-direction: column;
    height: 220px;
  }

 

  .hotel-name {
    //transform: translateX(-900px);
    overflow: hidden;
  }

  .book {
    justify-content: end;
  }

  label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  
  #toggle:checked + .menu {
    display: flex;
    color: white;
  }
}