html {
    font-family: 'Roboto';
}
 

figure {
    margin: 0;
}

header {
    // img {
    //     filter: grayscale(100);
    // }
}

// ************************* VIDEO **********************************   //

video {
  top: 0;
  object-fit: fill; // to not respect video ratio
  height: 400px;    // of the container parent
  width: 100vw;
  display: block;
  //position: inherit;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

//*************  NAVBAR MENU ***********************//

.menu-container {
  height: 100px;
  width: 100%;
  padding: 0 10;
  background-color: black;
  opacity: 0.7;
  position: fixed;
}



.sous-menu {
  display: none;
  background-color: black;
  margin: 0;
  padding: 0;
}

.sous-menu li {
  width: 100%;
  text-align: left;
}

.menu-container {
  align-items: center;
  
  display: flex;
  justify-content: space-between;
  // .book {
  //   float: right;
  // }
}



//a {
    // color: $primary_color;
    // &:hover {color: $secondary_color;}
    // &:active {color: $primary_color;}

//}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: 550px;
    padding: 0;
    ul {
      display: flex;
      gap: 1em;
      li {
         flex: 1 0 auto; // le texte dans le li ne passe pas à la ligne
         font-family: Roboto;
         &:hover .sous-menu {
           display: block;
         }
         &:hover {
            a {
                color: $white;
                font-size:1.08em;
            }
         }

        a {
            color: $whiteee;
            text-decoration: none;
            transition: 0.3s;
         }

        ul li {
        &:hover {
          a  {
            color: $white;
            font-size:1.5em;
          }
        }
          
        }
            
      }
    }
}
//**********************  END NAVBAR MENU  ***********************  //

h1 {
    font-family: open-sans;
    color: $primary_color;
    text-align: center;
}

h2 {
    color: $tersary_color;
}

/**  Section à propos   **/

h1 {
    font-size: 4vh;
}



// *************     MAP **************************
#map {
  width: 50vw;
  z-index: -1;
}
 

//*********************** SECTION FOOTER ********************************* //
footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer__social {
        display: flex;
        justify-content: space-around;
        gap: 3em;

        .footer__social-item {
            font-size: 40px;
            color: rgba( #6262ec, $alpha: 0.7);
            cursor: pointer;
            transition-duration: 0.7s;
            &:hover{
                color: #6262ec;
            }
        }
    }
}

// **************       BUTTON        ***********************//
input {
  background-color: rgb(246, 238, 238);
  margin-right: 50px;
  display: inline-block;
  height: 40px;
  width: 70px;
}


.raise:hover,
.raise:focus {
  --box-shadow-color: rgb(255, 255, 255);
  box-shadow: 0 0.5em 0.5em -0.4em  var(  --box-shadow-color);
  transition: 0.3;
  transform: translateY(-0.35em);
  background-color: black;
  color: white;
}