html {
    font-family: 'Roboto';
}

body {
  background-color: $background;
}
 

figure {
    margin: 0;
}

h1 {
  font-family: open-sans;
  color: $secondary_color;
  text-align: center;
}

h2 {
  color: $secondary_color;
  font-size: 18px;
  text-align: center;
}

/**  Section à propos   **/

h1 {
  font-size: 4vh;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1vw;
  margin: 0;
  padding: 30px;
}

p {
color: $tersary_color;
font-size: 2vw;
line-height: 0;
height:0;
text-align: center;
margin: 5;
padding: 20px;
}

ul, li {
  margin: 0;
  padding: 0;
}

 
// ************************* VIDEO **********************************   //

video {
  margin-top: -100px;
  object-fit: fill; // to not respect video ratio
  height: 400px;    // of the container parent
  width: 100%;
  z-index: -1;
}

//*************  NAVBAR MENU ***********************//

 
.menu-container {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: black;
  opacity: 0.6;
}
.hotel-name {
  margin-left: 80px;
}

//a {
    // color: $primary_color;
    // &:hover {color: $secondary_color;}
    // &:active {color: $primary_color;}

//}

ul {
    list-style: none;
}

nav {
    ul {
      display: flex;
      gap: 1em;
    
     
      li {
        position: relative;
         flex: 1 0 auto; // le texte dans le li ne passe pas à la ligne
         font-family: Roboto;
          padding: 0;
        a {
          text-decoration: none;
          color: $white;
        }
        &:hover a {
          font-size:1.2em;
        }

        // &:hover ul {
        //   position: relative;
        //   left: 0px;
        //   &:hover a{
        //     font-size:1.08em;
        //     transition: 0.3s;
        //   }
        // }

        ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: -999em;
          text-align: left;
        } 
        &:hover ul{
          position: absolute;
          left: 0px;
          &:hover   a {
            color: $white;
            font-size:1.2em;
          }
        }
      }
    }
}
//**********************  END NAVBAR MENU  ***********************  //



// *************                CHAMBRE            **************************  //



// *************     MAP **************************  //
#map {
  width: 50vw;
  z-index: -1;
}
#map + article {
  color: #fff;
  a {
  color: #fff;
  }
}
 

//*********************** SECTION FOOTER ********************************* //
footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    .footer__social {
        display: flex;
        justify-content: space-around;
        gap: 3em;

        .footer__social-item i{
            font-size: 40px;
            color: rgba( #ffffff, $alpha: 0.7);
            cursor: pointer;
            transition-duration: 0.7s;
            &:hover{
                color: #6262ec;
            }
        }
    }
}

// **************       BUTTON        ***********************//
input {
  background-color: rgb(246, 238, 238);
  margin-right: 50px;
  display: inline-block;
  height: 40px;
  width: 70px;
}


.menu-container input {
 &:hover, &:focus 
  {
    --box-shadow-color: rgb(255, 255, 255);
    box-shadow: 0 0.5em 0.5em -0.4em  var(  --box-shadow-color);
    transition: 0.3;
    transform: translateY(-0.35em);
    background-color: black;
    color: white;
    cursor: pointer;
  }

}