@charset "UTF-8";
@font-face {
  font-family: 'open-sans';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'open-sans-bold';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf"); }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular-webfont.woff"); }
@font-face {
  font-family: 'playfair_display';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf"); }
html {
  font-family: 'Roboto'; }

body {
  background-color: #2b292f; }

figure {
  margin: 0; }

h1 {
  font-family: open-sans;
  color: #ffffff;
  text-align: center; }

h2 {
  color: #ffffff;
  font-size: 18px;
  text-align: center; }

/**  Section à propos   **/
h1 {
  font-size: 4vh;
  margin: 0;
  padding: 0; }

p {
  text-align: center;
  font-size: 1vw;
  margin: 0;
  padding: 30px;
  color: #fff; }

h2 {
  color: #D49437;
  font-size: 2vw;
  line-height: 0;
  height: 0;
  text-align: center;
  margin: 5;
  padding: 20px; }

h3 {
  color: #ffffff;
  line-height: 50px;
  margin: 0 10vw; }
  h3 span {
    font-size: 18px;
    text-align: justify; }

.titre {
  text-align: center;
  font-size: 35px; }

ul, li {
  margin: 0;
  padding: 0; }

video {
  margin-top: -100px;
  object-fit: fill;
  height: 400px;
  width: 100%;
  z-index: -1; }

label, #toggle {
  color: #fff;
  display: none; }

.menu-container {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: black;
  opacity: 0.6; }

.hotel-name {
  margin-left: 80px;
  font-size: 2vw; }

ul {
  list-style: none; }

nav {
  transform: translateX(-3em);
  font-size: 0.7vw; }
  nav ul {
    display: flex;
    gap: 1em; }
    nav ul li {
      position: relative;
      flex: 1 0 auto;
      font-family: Roboto;
      padding: 0; }
      nav ul li a {
        text-decoration: none;
        color: white; }
      nav ul li:hover a {
        font-size: 1.2em; }
      nav ul li ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -999em;
        text-align: left; }
      nav ul li:hover ul {
        position: absolute;
        left: 0px; }
        nav ul li:hover ul:hover a {
          color: white;
          font-size: 1.2em; }

.presentation {
  margin: 0 100px;
  text-align: justify;
  margin-bottom: 100px; }

#map {
  width: 50vw;
  z-index: -1; }

#map + article {
  color: #fff; }
  #map + article a {
    color: #fff; }

fieldset {
  margin-bottom: 15px;
  padding: 10px; }

legend {
  padding: 0px 3px;
  font-weight: bold;
  font-size: 30px; }

label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 6px; }

input:focus {
  background: #eaeaea; }

input, textarea {
  width: 500px; }

textarea {
  height: 200px; }

select {
  width: 100px; }

input[type=submit] {
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  align-items: center;
  cursor: pointer; }

.text-form {
  font-size: 15px; }

#form-contact {
  color: white; }

footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black; }
  footer .footer__social {
    display: flex;
    justify-content: space-around;
    gap: 3em; }
    footer .footer__social .footer__social-item i {
      font-size: 40px;
      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      transition-duration: 0.7s; }
      footer .footer__social .footer__social-item i:hover {
        color: #6262ec; }

input {
  background-color: #f6eeee;
  margin-right: 50px;
  display: inline-block;
  height: 40px;
  width: 70px; }

.menu-container input:hover, .menu-container input:focus {
  --box-shadow-color: rgb(255, 255, 255);
  box-shadow: 0 0.5em 0.5em -0.4em var(--box-shadow-color);
  transition: 0.3;
  transform: translateY(-0.35em);
  background-color: black;
  color: white;
  cursor: pointer; }

@media screen and (min-width: 480px) and (max-width: 779px) {
  h1 {
    font-size: 7vh; }

  .mobile-menu {
    display: none; }

  .mobile {
    display: none; }

  .formation__container {
    display: flex;
    flex-wrap: wrap; }
    .formation__container article {
      width: 45%; } }
@media screen and (max-width: 480px) {
  .desktop {
    display: none; }

  .mobile-menu {
    display: show; } }
@media screen and (max-width: 580px) {
  nav .menu {
    display: none;
    flex-direction: column;
    height: 220px; }

  #toggle:checked + .menu {
    display: flex; }

  .hotel-name {
    overflow: hidden; }

  .book {
    justify-content: end; }

  label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
